main .container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.mainContent {
  width: 75%;
  /* background-color: cadetblue; */
}

.sideContent {
  width: 23%;
  /* background-color: rebeccapurple; */
}

@media screen and (max-width:768px) {

  main .container {
    flex-direction: column;

  }

  .mainContent {
    width: 100%;
    background-color: cadetblue;
  }

  .sideContent {
    width: 100%;
    background-color: rebeccapurple;
  }
}
