@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
label,
i {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/*-----------global-----------*/
.container {
  max-width: 90%;
  margin: auto;
}

.flexSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.paddingTB {
  padding: 40px 0;
}

.paddingSmall {
  padding: 20px 0;
}

li,
ul {
  list-style-type: none;
}

.catgeory {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 10px;
  letter-spacing: 2px;
  background-color: purple;

}

.row {
  width: 50%;

}
