.head {
  cursor: pointer;
}

.head .logo img {
  width: 500px;
}

header {
  background-color: #000;
  color: #fff;
}

header li {
  margin-right: 30px;
  transition: 0.5s;
}

header li a {
  color: #fff;
  transition: 0.5s;
}

header li:hover {
  color: crimson;
  cursor: pointer;
}

header a {
  color: #fff;
}

.barIco {
  font-size: 25px;
  background: none;
  color: #fff;
  display: none;
  border: none;
}

@media screen and (max-width: 768px) {
  .head .ad {
    display: none;
  }

  header .icon {
    display: none;
  }

  header .flex {
    display: none;
  }

  .barIco {
    display: block;
  }

  header .navbar {
    position: absolute;
    display: block;
    background-color: #fb4c35;
    left: 0;
    top: 210px !important;
    transition: 0.5s;
    width: 100%;
    height: 60vh;
    z-index: 5;
    padding: 50px;
  }

  header .navbar {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  header ul li {
    margin-bottom: 30px;
  }
}
